<!DOCTYPE html>
<html lang="en">
    <head>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 

        <script src="https://unpkg.com/vuejs-paginate@latest"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="book.css" type="text/css">
    </head>

    <body>        
        <div id="app">                                            
            <div class="container">
                <div class="row">
                    <div class="col" v-for="author in authors">
                        <div class="card mb-3" style="width: 15rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ author.firstname }} {{ author.name }}</h5>
                                <p class="card-text">Author {{author.id}}</p>-->
                                <img v-bind:src="author.image" class="img-fluid" v-bind:alt="author.name">
                            </div>
                        </div>
                    </div>
                </div>                
            </div>      
            <div class="parent">
                <paginate 
                    v-model="pageNumber"
                    :page-count="pageTotal"
                    :container-class="'pagination'"
                    :page-class="'page-item'"
                    :click-handler="getAuthors">
                </paginate>                    
            </div>
        </div>              
        <script src="book.js"></script>        
    </body>
</html>